{
    "linode": {
      "api_key": "yourLinodAPIkey",
      "default_region": "nl-ams",
      "default_image": "linode/ubuntu22.04",
      "default_type": "g6-nanode-1",
      "default_root_pass": "YourSuperSecureTempPass123!"
    },
    "aws": {
        "access_key": "your_aws_access_key",
        "secret_key": "your_aws_secret_key",
        "default_region": "eu-west-1",
        "default_image": "ami-0574da719dca65348",
        "default_type": "t3.micro"
    },
    "hetzner": {
        "api_key": "your_hetzner_api_token",
        "default_region": "nbg1",
        "default_image": "ubuntu-22.04",
        "default_type": "cpx11"
    }
}