{
    "linode": {
      "api_key": "yourLinodAPIkey",
      "default_region": "nl-ams",
      "default_image": "linode/ubuntu22.04",
      "default_type": "g6-nanode-1",
      "default_root_pass": "YourSuperSecureTempPass123!"
    },
    "aws": {
        "access_key": "your_aws_access_key",
        "secret_key": "your_aws_secret_key",
        "default_region": "eu-west-1",
        "default_image": "ami-02ad7d74d71067c63",
        "default_type": "t3.micro"
    },
    "hetzner": {
        "api_key": "your_hetzner_api_token",
        "default_region": "nbg1",
        "default_image": "ubuntu-22.04",
        "default_type": "cpx22"
    },
    "ovh": {
        "application_key": "your_ovh_application_key",
        "application_secret": "your_ovh_application_secret",
        "consumer_key": "your_ovh_consumer_key",
        "service_name": "your_public_cloud_project_id",
        "endpoint": "ovh-eu",
        "default_region": "GRA9",
        "default_flavor": "d2-2",
        "default_image": "Ubuntu 22.04"
    }
}